<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href={{ "/style.css" | relURL }} />
</head>

<body>
  <nav class="menu">
    <ul>
      {{ range .Site.Menus.main -}}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{- end }}
    </ul>
  </nav>
  {{ block "main" . }}{{ end }}
  <br>
  <footer>
    {{- with .Site.Copyright }}
    {{ replace . "{Year}" now.Year | markdownify}}
    {{ end -}}
  </footer>
</body>

</html>