body {
    max-width: 720px;
    margin: auto;
    padding: 1em;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
}

.menu,
.title,
footer {
    text-align: center;
}

.menu ul {
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 6px;
}

.menu a {
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}

.list {
    padding: 0;
}

.list li {
    display: flex;
    border-bottom: 1px solid #d8dae1;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 3px 8px;
}

.menu a,
.list a,
footer a {
    text-decoration: none;
}

a {
    color: #3273dc;
}

hr {
    border: 0;
    height: 0;
}

pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
    overflow-x: auto;
}

code {
    background: #f9f9f9;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
}

pre code {
    background: 0 0;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

iframe,
img,
video {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    margin: auto;
}

tfoot,
thead {
    background: #eee;
}

td,
th {
    border: 1px solid #d8dae1;
    padding: 5px;
}